CompileFlags:
  Add:
    - -I/Users/vishal/Documents/code/barely_ai/include/cudart
    - -D__CUDACC__
    - -D__CUDA_ARCH__=750
    - -D_NVCC__
    - -D__device_builtin__=
    - -D__device__=
    - -D__host__=
    - -D__global__=__attribute__((global))
    - -D__shared__=__attribute__((global))
    - -D__constant__=__attribute__((global))
    - -std=c++20
Diagnostics:
  UnusedIncludes: None